@charset "UTF-8";
@font-face {
  font-family: "런드리고딕OTF Regular";
  src: url("../../font/런드리고딕OTF Regular.otf") format("opentype");
}

@font-face {
  font-family: "런드리고딕OTF Bold";
  src: url("../../font/런드리고딕OTF Bold.otf") format("opentype");
}

#leb-draw {
  width: 1680px;
  font-family: "런드리고딕OTF Regular";
  margin: 0 auto;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
}

/*왼쪽 위*/
#leb-course-top {
  background-color: #ffffff;
  padding: 0px 0px 0px 15px;
  font-family: "런드리고딕OTF Bold";
  font-size: 50px;
  color: #068cd2;
}

/*왼쪽 전체*/
#leb-course-left {
  width: 500px;
  height: 865px;
  background-color: #ffffff;
  float: left;
}

.leb-course-left-maintext {
  font-size: 26px;
  font-family: "런드리고딕OTF Bold";
}

/*공개여부*/
#leb-course-left #leb-course-left-whether {
  padding: 25px 20px 25px 20px;
}

#leb-course-left #leb-course-left-whether label {
  vertical-align: middle;
}
#leb-course-left #leb-course-left-whether input[type="radio"] {
  appearance: none; /*기본 브라우저에서 기본 스타일 제거 */
  width: 18px;
  height: 18px;
  border: 2px solid #ccc; /*체크되지 않았을 때의 테두리 색상 */
  border-radius: 50%;
  outline: none; /*focus 시에 나타나는 기본 스타일 제거 */
  cursor: pointer;
  margin: 0px 20px 0px 0px;
}

#leb-course-left #leb-course-left-whether input[type="radio"]:checked {
  background-color: #89cff0; /*체크 시 내부 원으로 표시될 색상*/
  border: 3px solid white; /* 테두리가 아닌, 테두리와 원 사이의 색상 */
  box-shadow: 0 0 0 1.6px #89cff0; /*테두리 */
  /*그림자로 테두리를 직접 만들어야 함 (퍼지는 정도를 0으로 주면 테두리처럼 보입니다.)
    그림자가 없으면 그냥 설정한 색상이 꽉 찬 원으로만 나옵니다. */
}

#leb-course-left #leb-course-left-whether-public {
  padding: 0px 8px 0px 10px;
  font-size: 23px;
  margin: 0px 0px 0px 15px;
}

#leb-course-left #leb-course-left-whether-nondisclosure {
  padding: 0px 8px 0px 10px;
  font-size: 23px;
}

/*제목*/
#leb-course-left #leb-course-left-title {
}

#leb-course-left #leb-course-left-title label {
  padding: 15px 20px 25px 20px;
}

#leb-course-left #leb-course-left-title input[type="text"] {
  width: 300px;
  height: 40px;
  padding-left: 10px;
  border-width: 3px;
  border-color: #068cd2;
  border-style: solid;
  border-radius: 10px;
}
/*누르면 파란 테두리*/
#leb-course-left #leb-course-left-title input[type="text"]:focus {
  border: 5px solid #068cd2;
  outline: none;
}

/*코스 소개*/
#leb-course-left #leb-course-left-introduction {
  padding: 15px 0px 25px 20px;
}

#leb-course-left #leb-course-left-introduction textarea {
  width: 458px;
  height: 150px;
  padding: 10px 0px 0px 8px;
  font-size: 18px;
  border-radius: 10px;
  border-width: 3px;
  border-color: #068cd2;
}

#leb-course-left #leb-course-left-introduction textarea:focus {
  outline: none;
  border-width: 5px;
  border-color: #068cd2;
}

/*난이도*/
#leb-course-left #leb-course-left-clevel {
  padding: 25px 0px 25px 20px;
}

#leb-course-left #leb-course-left-clevel select {
  margin-left: 20px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  font-family: "런드리고딕OTF Bold";
  color: #313131;
  border: 3px solid #068cd2;
  border-radius: 10px;
  margin-right: 10px;
  padding: 5px 5px 5px 10px;
}

/*예상소요시간*/
#leb-course-left #leb-course-left-predictive-time {
  padding: 25px 0px 25px 20px;
}
#leb-course-left
  #leb-course-left-predictive-time
  #leb-course-left-predictive-time-maintext {
  margin-right: 15px;
}
#leb-course-left
  #leb-course-left-predictive-time
  #leb-course-left-predictive-time-time {
  font-size: 24px;
  color: #068cd2;
}

/*예상거리*/
#leb-course-left #leb-course-left-predictive-distance {
  padding: 25px 20px 25px 20px;
}
#leb-course-left
  #leb-course-left-predictive-distance
  #leb-course-left-predictive-distance-maintext {
  margin-right: 15px;
}
#leb-course-left
  #leb-course-left-predictive-distance
  #leb-course-left-predictive-distance-distance {
  font-size: 24px;
  color: #068cd2;
}

/*왼쪽 버튼*/
#leb-course-left #leb-course-left-button {
  font-size: 24px;
  margin: 15px 0px 10px 49px;
}
#leb-course-left #leb-course-left-button-back {
  width: 200px;
  height: 60px;
  margin-right: 40px;
  border-radius: 20px;
  border: none;
  background-color: #546770;
  color: #ffffff;
  border-radius: 20px;
}
#leb-course-left #leb-course-left-button-draw {
  width: 180px;
  height: 60px;
  border: none;
  background-color: #068cd2;
  color: #ffffff;
  border-radius: 20px;
}

/*map그리기*/
#leb-course-right-map {
  width: 1180px;
  height: 703px;
  float: left;
}

#leb-course-right-map img {
  width: 1180px;
  height: 703px;
}

/* 코스 그리기 도구 */
#leb-course-bottom-map img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
#leb-course-bottom-map {
  background-color: #ffffff;
  width: 1180px;
  height: 164px;
  display: flex;
  align-items: flex-start; /* 요소들을 수직으로 위쪽 정렬 */
}

#leb-course-bottom-map-search-point,
#leb-course-bottom-map-auto-draw {
  display: flex; /* Flexbox를 사용하여 요소들을 가로로 나열 */
  flex-direction: column; /* 요소들을 수직으로 나열 */
  margin-top: 10px;
}

#leb-course-bottom-map-auto-draw button,
#leb-course-bottom-map-direct-draw button {
  margin-bottom: 10px; /* 버튼들 사이에 아래쪽 여백 추가 */
}

/*지도에서 위치찾기*/
#leb-course-bottom-map-search {
  display: flex;
  flex-direction: column; /* 요소들을 수직으로 나열 */
  display: flex; /* Flexbox를 사용하여 요소들을 가로로 나열 */
  margin-right: 20px; /* 다음 요소와의 오른쪽 여백 추가 */
  margin: 15px 20px 0px 20px;
}

#leb-course-bottom-map-search-text {
  margin-right: 10px; /* 텍스트와 이미지 사이의 오른쪽 여백 추가 */
  font-size: 24px;
  font-family: "런드리고딕OTF Bold";
  margin-bottom: 5px;
}

#leb-course-bottom-map-search-row {
  display: flex; /* 인풋 필드와 버튼을 가로로 나열 */
  flex-direction: row; /* 기본 값이므로 명시적으로 설정 */
  align-items: center; /* 세로 정렬을 중앙으로 */
}

#leb-course-bottom-map-search-button {
  display: flex;
  border: none;
  color: #ffffff;
  align-items: center; /* 버튼 내부의 이미지가 수직으로 중앙 정렬되도록 */
  border: none;
  background-color: transparent; /* 필요한 경우 버튼 배경색 설정 */
  cursor: pointer;
}
#leb-course-bottom-map-search-button img {
  width: 30px;
  height: 30px;
}

#leb-course-bottom-map-search-box {
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  border: none; /* 모든 테두리 제거 */
  border-bottom: 2px solid #068cd2; /* 밑줄 테두리 추가 */
  outline: none; /* 포커스 효과 제거 */
  flex: 1; /* input이 가능한 공간을 최대한 차지하도록 */
  margin-right: 10px; /* 버튼과의 간격 추가 */
}

/*시작점-도착점*/
#leb-course-bottom-map-search-point {
  padding: 10px 20px 10px 20px;
  font-size: 20px;
}

#leb-course-bottom-map-search-point #leb-course-bottom-map-search-start-point {
  margin-bottom: 10px;
}
#leb-course-bottom-map-search-point
  #leb-course-bottom-map-search-start-point
  img {
  color: #068cd2;
}
#leb-course-bottom-map-search-point
  #leb-course-bottom-map-search-start-point
  #leb-course-bottom-map-start-point {
  padding: 5px 5px 5px 5px;
  border: none; /* 모든 테두리 제거 */
  border-bottom: 2px solid #068cd2; /* 밑줄 테두리 추가 */
  outline: none; /* 포커스 효과 제거 */
}

#leb-course-bottom-map-end-point {
  padding: 5px 5px 5px 5px;
}

#leb-course-bottom-map-search-point
  #leb-course-bottom-map-search-end-point
  #leb-course-bottom-map-end-point {
  border: none; /* 모든 테두리 제거 */
  border-bottom: 2px solid #f4c2c2; /* 밑줄 테두리 추가 */
  outline: none; /* 포커스 효과 제거 */
}

/*그리기 초기화 버튼*/
#leb-course-bottom-map-auto-draw {
  padding: 5px 20px 5px 20px;
  font-size: 20px;
}

#leb-course-bottom-map-auto-draw #leb-course-bottom-map-draw-button {
  width: 80px;
  height: 50px;
  border: none;
  background-color: #068cd2;
  color: #ffffff;
  border-radius: 20px;
}

#leb-course-bottom-map-auto-draw #leb-course-bottom-map-restart-button {
  width: 80px;
  height: 50px;
  border: none;
  background-color: #546770;
  color: #ffffff;
  border-radius: 20px;
}

/*직접 그리기/되돌리기*/
#leb-course-bottom-map-direct-draw {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 5px 40px;
  font-size: 20px;
}

#leb-course-bottom-map-direct-draw button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: none;
  color: #ffffff;
  border-radius: 20px;
  margin-right: 20px;
}
#leb-course-bottom-map-direct-draw-button {
  background-color: #068cd2;
}

#leb-course-bottom-map-direct-draw-return-button {
  background-color: #546770;
}

#leb-course-bottom-map-direct-draw button img {
  width: 30px;
  height: 30px;
  margin-bottom: 15px; /* 이미지와 텍스트 사이의 간격 조정 */
}

.dot {
  overflow: hidden;
  float: left;
  width: 12px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png");
}
.dotOverlay {
  position: relative;
  bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
  font-size: 12px;
  padding: 5px;
  background: #fff;
}
.dotOverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.number {
  font-weight: bold;
  color: #ee6152;
}
.dotOverlay:after {
  content: "";
  position: absolute;
  margin-left: -6px;
  left: 50%;
  bottom: -8px;
  width: 11px;
  height: 8px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png");
}
.distanceInfo {
  position: relative;
  top: 5px;
  left: 5px;
  list-style: none;
  margin: 0;
}
.distanceInfo .label {
  display: inline-block;
  width: 50px;
}
.distanceInfo:after {
  content: none;
}
.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  font-size: 12px;
}
.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  color: #000;
  text-decoration: none;
}
.map_wrap {
  position: relative;
  width: 100%;
  height: 500px;
}
.menu_wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  margin: 10px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}
.bg_white {
  background: #fff;
}
.menu_wrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5f5f5f;
  margin: 3px 0;
}
.menu_wrap .option {
  text-align: center;
}
.menu_wrap .option p {
  margin: 10px 0;
}
.menu_wrap .option button {
  margin-left: 5px;
}
.placesList li {
  list-style: none;
}
.placesList .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}
.placesList .item span {
  display: block;
  margin-top: 4px;
}
.placesList .item h5,
.placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.placesList .item .info {
  padding: 10px 0 10px 55px;
}
.placesList .info .gray {
  color: #8a8a8a;
}
.placesList .info .jibun {
  padding-left: 26px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
    no-repeat;
}
.placesList .info .tel {
  color: #009900;
}
.placesList .item .markerbg {
  float: left;
  position: absolute;
  width: 36px;
  height: 37px;
  margin: 10px 0 0 10px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
    no-repeat;
}
.placesList .item .marker_1 {
  background-position: 0 -10px;
}
.placesList .item .marker_2 {
  background-position: 0 -56px;
}
.placesList .item .marker_3 {
  background-position: 0 -102px;
}
.placesList .item .marker_4 {
  background-position: 0 -148px;
}
.placesList .item .marker_5 {
  background-position: 0 -194px;
}
.placesList .item .marker_6 {
  background-position: 0 -240px;
}
.placesList .item .marker_7 {
  background-position: 0 -286px;
}
.placesList .item .marker_8 {
  background-position: 0 -332px;
}
.placesList .item .marker_9 {
  background-position: 0 -378px;
}
.placesList .item .marker_10 {
  background-position: 0 -423px;
}
.placesList .item .marker_11 {
  background-position: 0 -470px;
}
.placesList .item .marker_12 {
  background-position: 0 -516px;
}
.placesList .item .marker_13 {
  background-position: 0 -562px;
}
.placesList .item .marker_14 {
  background-position: 0 -608px;
}
.placesList .item .marker_15 {
  background-position: 0 -654px;
}
.pagination {
  margin: 10px auto;
  text-align: center;
}
.pagination a {
  display: inline-block;
  margin-right: 10px;
}
.pagination .on {
  font-weight: bold;
  cursor: default;
  color: #777;
}
