@charset "UTF-8";
@font-face {
    font-family: "런드리고딕OTF Regular";
    src: url('../../font/런드리고딕OTF Regular.otf') format('opentype');
}

@font-face {
    font-family: "런드리고딕OTF Bold";
    src: url('../../font/런드리고딕OTF Bold.otf') format('opentype');
}

/*전체*/
#leb-smallgathering-write{
  width: 1680px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #313131;
  margin-top: 50px;
  padding-left: 90px;
  font-size: 35px;
  font-family: "런드리고딕OTF Regular";
  color: #89cff0;
}
#yys-smallgathering-write-form {
  margin-bottom: 30px;
}

#leb-smallgathering-write input[type="text"]{
  padding: 5px 5px 5px 10px;
}

#leb-smallgathering-write input[type="text"]:focus{
  border: 8px solid #89CFF0;
  outline: none;
}

.leb-smallgathering-write-input-long{
  width: 525px;
  height: 64.63px;
  border-width: 5px;
  border-color: #89CFF0;
  border-style: solid;
  border-radius: 10px;
}

/*h2*/
#leb-smallgathering-write h2{
    background-color: #ffffff;
    padding: 50px 20px 10px 30px;
    font-family: "런드리고딕OTF Bold";
    font-size: 72px;
    color: #cccccc;
    line-height: 1.25;
}

/*사진 업로드*/
.leb-upload-box {
  width: 600px;
  height: 690px;
  display: flex;
  box-sizing: border-box;
  margin: 30px 0px 52px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #313131;
  float: left;
}

.leb-upload-box-image{
  width: 100px;
  height: 100px;
}

.leb-modify-image{
  width: 100%;
  height: 100%;
}

.leb-upload-box .leb-drag-file {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #313131;
  background-color: #dbdbdb;
  border-radius: 10px;
}
.leb-upload-box .leb-drag-file .leb-image {
  width: 40px;
}
.leb-upload-box .leb-drag-file .leb-message {
  margin-bottom: 0;
}
.leb-upload-box .leb-drag-file .leb-preview {
  display: none;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
}
#leb-drag-file-label img{
  width: 78.27px;
  height: 78.27px;
}

#leb-drag-file-label img{
  width: 88.27px;
  height: 88.27px;
  margin-left: 20px;
}

#leb-drag-file-label {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 600px;
  right: -30px;
  background-color: #313131;
  border-radius: 50%;
  align-content: center;
}

/*사진등록 오른쪽으로*/
.leb-smallgathering-write-img-right{
  margin-left: 700px;
}

/*소모임 이름*/
#leb-smallgathering-write-name{
  padding-top: 15px;
  padding-bottom: 15px;
}
#leb-smallgathering-write-name label{
  padding-right: 75px;
}

/*주최자 이름*/
#leb-smallgathering-write-host-name{
  padding-bottom: 15px;
}

#leb-smallgathering-write-host-name label{
  padding-right: 75px;
}
/*주최자 연락처*/
#leb-smallgathering-write-host-number{
  padding-bottom: 15px;
}
#leb-smallgathering-write-host-number label{
  padding-right: 50px;
}
/*모집인원*/
#leb-smallgathering-write-required{
  padding-bottom: 65px;
}
#leb-smallgathering-write-required label{
  padding-right: 75px;
}
#leb-smallgathering-write-required span{
  padding-left: 15px;
}

#leb-smallgathering-write-required input[type="text"]{
  width: 198.11px;
  height: 64.98px;
  border-width: 5px;
  border-color: #89CFF0;
  border-style: solid;
  border-radius: 10px;
}

#leb-smallgathering-write-limit input[type="text"]{
  width: 112px;
  height: 57px;
  border-width: 5px;
  border-color: #89CFF0;
  border-style: solid;
  border-radius: 10px;
}

/*코스선택*/
#leb-smallgathering-write-course-choice{
  padding-bottom: 15px;
}
#leb-smallgathering-write-course-choice span{
  padding-right: 75px;
}

#leb-smallgathering-write-course-choice select{
  width: 525px;
  height: 64.63px;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  font-family: "런드리고딕OTF Bold";
  color: #313131;
  border: 5px solid #89CFF0;
  border-radius: 10px;
  margin-right: 10px;
  padding: 5px 5px 5px 10px;
  -webkit-appearance: none;  /* 크롬 화살표 없애기 */
  -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
  appearance: none;  /* 화살표 없애기 */
  background: url('../../img/inverted_triangle.png')no-repeat right 10px center;
}

/*모임 일시*/
#leb-smallgathering-write-date{
  padding-bottom: 15px;
}
#leb-smallgathering-write-date label{
  padding-right: 77px;
}

/*신청마감일*/
#leb-smallgathering-write-closing-date{
  padding-bottom: 15px;
}
#leb-smallgathering-write-closing-date label{
  padding-right: 45px;
}

/*신청제한*/
#leb-smallgathering-write-limit{
  padding-bottom: 15px;
}

#leb-smallgathering-write-limit-title{
  padding-right: 75px;
}


#leb-smallgathering-write-limit label{
  padding-right: 50px;
  display: inline-block;
  vertical-align: middle;
}
#leb-smallgathering-write-limit input[type='radio']{
  appearance: none; /*기본 브라우저에서 기본 스타일 제거 */
    width: 31px;
    height: 31px;
    border: 5px solid #ccc; /*체크되지 않았을 때의 테두리 색상 */
    border-radius: 50%;
    outline: none; /*focus 시에 나타나는 기본 스타일 제거 */
    cursor: pointer;
    margin: 0px 8px 0px 0px;
}

#leb-smallgathering-write-limit input[type='radio']:checked{
  background-color: #89Cff0;
  border: 5px solid white; 
  box-shadow: 0 0 0 3.5px #89Cff0;
}
#leb-smallgathering-write-limit-age-limit{
  margin-left: 190px;
}

#leb-smallgathering-write-limit-age-limit span{
  padding-right: 15px;
}
#leb-smallgathering-write-limit-age-limit input{
  margin-right: 10px;
}

/*모임정보*/
#leb-smallgathering-write-information-title{
  width: 500px;
}
#leb-smallgathering-write-information {
  margin-bottom: 30px;
}
/*
#leb-smallgathering-write-information textarea{
  width: 1500px;
  height: 160px;
  border: 5px solid #89Cff0;
  border-radius: 10px;
  padding: 0px 0px 15px 10px;
}
*/
/*등록버튼*/
#leb-smallgathering-write-button{
  width: 247px;
  height: 93px;
  border: none;
  background-color: #89Cff0;
  color: #ffffff;
  font-size: 40px;
  border-radius: 20px;
  margin-left: 650px;
}