@charset "UTF-8";



body,
div,
ul,
li,
dl,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form {
    margin: 0;
    padding: 0;
}

/*****공용*****/
@font-face {
    font-family: "런드리고딕OTF Bold";
    src: url('../../font/런드리고딕OTF Bold.otf') format('opentype');
}

@font-face {
    font-family: "런드리고딕OTF Regular";
    src: url('../../font/런드리고딕OTF Regular.otf') format('opentype');
}


.pjh-modifyform{
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
}

.pjh-modifyform-p-margin-delete{
    margin-top: 0;
    margin-bottom: 0;
}

/******************/

/*****로고중심으로 맞춤 공용*****/
.pjh-modifyformLabalID{
    width: 738px;
    margin-left: 178px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.pjh-modifyformLabalPW{
    width: 738px;
    margin-left: 135px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.pjh-modifyformLabalName{
    width: 738px;
    margin-left: 220px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.pjh-modifyformLabalNickName{
    width: 738px;
    margin-left: 176px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}


.pjh-modifyformLabalHp{
    width: 738px;
    margin-left: 172px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.pjh-modifyformLabalBirthDate{
    width: 738px;
    margin-left: 134px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.pjh-modifyformLabalGender{
    width: 738px;
    margin-left: 222px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.pjh-modifyformLabalRegion{
    width: 738px;
    margin-left: 135px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}


/*****아이디 제외 메인라벨들 공용*****/
.pjh-modifyformLabal{
    font-size: 50px;
    font-family: "런드리고딕OTF Bold";
    color: #89CFF0;
    margin-right: 60px;
}
/*******************************/

/*********input박스 공용********/
.pjh-modifyforminput-class{
    width: 300px;
    height: 50px;
    font-size: 30px;
    font-family: "런드리고딕OTF Regular";
    color: #89CFF0;
    border: 2px solid #89CFF0;
    border-radius: 10px;
}

.pjh-modifyforminput-class:focus{
    border: 4px solid #89CFF0;
    outline: none;
}

/*******************************/
#pjh-modifyform-id{
    width: 900px;
    height: 1050px;
    border: 3px solid #89CFF0;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 120px;
    padding-top: 20px;
}

#pjh-modifyformLogo{
    width: 415px;
    font-size: 80px;
    font-family: "런드리고딕OTF Bold";
    color: #89CFF0;
}

/*****아이디*****/
#pjh-modifyformIdLogo{
    font-size: 50px;
    font-family: "런드리고딕OTF Bold";
    color: #89CFF0;
    margin-right: 60px;
}

#pjh-modifyformId{
    color: #89CFF0;
    font-size: 30px;
    font-family: "런드리고딕OTF Bold";
    padding-top: 10px;
}

/*****select박스 공용*****/
.pjh-modifyformSelectBox{
    height: 50px;
    font-size: 25px;
    font-family: "런드리고딕OTF Bold";
    color: #89CFF0;
    border: 2px solid #89CFF0;
    border-radius: 10px;
    margin-right: 10px;
}

.pjh-modifyformSelectBox:focus{
    border: 4px solid #89CFF0;
    outline: none;
}
/************************/

/**핸드폰**/
.pjh-modifyHpminus{
    font-size: 25px;
    padding-bottom: 0px;
    font-family: "런드리고딕OTF Bold";
    color: #89CFF0;
}

.pjh-modifyHpNumber{
    font-size: 25px;
    width: 80px;
    height: 50px;
    text-align: center;
    font-family: "런드리고딕OTF Bold";
    color: #89CFF0;
    border: 2px solid #89CFF0;
    border-radius: 10px;
    margin: 0px 10px 0px 10px;
}

.pjh-modifyHpNumber:focus{
    border: 4px solid #89CFF0;
    outline: none;
}

/*****성별*****/
.pjh-modifyformGenderLabal{
    font-size: 40px;
    font-family: "런드리고딕OTF Regular";
    color: #89CFF0;
    margin-right: 20px;
}

.pjh-modifyformGenderRadio[type="radio"]{
    appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid #89CFF0;
    border-radius: 30px;
    margin-right: 60px;
}
.pjh-modifyformGenderRadio[type="radio"]:checked{
    background-color: #89CFF0;
    border: 5px solid #ffffff;
    box-shadow: 0 0 0 1.6px #89CFF0;
}

/**지역**/
#pjh-modifyaddressSearchbtn{
    width: 70px;
    height: 50px;
    margin-left: 20px;
    border: none;
    border-radius: 20px;
    font-size: 22px;
    font-family: "런드리고딕OTF Regular";
    color: #ffffff;
    background-color: #89CFF0;
}

/********회원수정 완료 버튼********/
#pjh-modifyButton{
    width: 300px;
    margin: 0 auto;
    align-items: center;
    margin-top: 30px;
}

#pjh-modifyformCompleteButton{
    width: 300px;
    height: 60px;
    font-size: 40px;
    font-family: "런드리고딕OTF Regular";
    color: #ffffff;
    border: none;
    border-radius: 20px;
    background-color: #89CFF0;
}