@charset "UTF-8";



body,
div,
ul,
li,
dl,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form {
    margin: 0;
    padding: 0;
}

/*****공용*****/
@font-face {
    font-family: "런드리고딕OTF Bold";
    src: url('../../font/런드리고딕OTF Bold.otf') format('opentype');
}

@font-face {
    font-family: "런드리고딕OTF Regular";
    src: url('../../font/런드리고딕OTF Regular.otf') format('opentype');
}


.pjh-modifyform{
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
}
/******************/

/*****로고중심으로 맞춤 공용*****/
.pjh-modifyformLabalID{
    width: 738px;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.pjh-modifyformLabalPW{
    width: 738px;
    margin-left: 128px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.pjh-modifyformLabalName{
    width: 738px;
    margin-left: 230px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.pjh-modifyformLabalNickName{
    width: 738px;
    margin-left: 176px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}


.pjh-modifyformLabalHp{
    width: 738px;
    margin-left: 172px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.pjh-modifyformLabalBirthDate{
    width: 738px;
    margin-left: 128px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.pjh-modifyformLabalGender{
    width: 738px;
    margin-left: 230px;
    margin-top: 20px;
    display: flex;
    align-items: center;;
}

.pjh-modifyformLabalRegion{
    width: 738px;
    margin-left: 230px;
    margin-top: 20px;
    display: flex;
    align-items: center;;
}


/*****아이디 제외 메인라벨들 공용*****/
.pjh-modifyformLabal{
    font-size: 60px;
    font-family: "런드리고딕OTF Bold";
    color: #89CFF0;
    margin-right: 60px;
}
/*******************************/

/*********input박스 공용********/
.pjh-modifyforminput-class{
    width: 400px;
    height: 60px;
    font-size: 30px;
    font-family: "런드리고딕OTF Regular";
    color: #89CFF0;
    border: 2px solid #89CFF0;
    border-radius: 10px;
}

/*******************************/

#pjh-modifyform-id{
    width: 1100px;
    height: 1300px;
    border: 3px solid #89CFF0;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 120px;
}

#pjh-modifyformLogo{
    width: 570px;
    font-size: 110px;
    font-family: "런드리고딕OTF Bold";
    color: #89CFF0;
}

/*****아이디*****/
#pjh-modifyformIdLogo{
    font-size: 60px;
    font-family: "런드리고딕OTF Bold";
    color: #89CFF0;
    margin-right: 60px;
}

#pjh-modifyformId{
    color: #89CFF0;
    font-size: 40px;
    font-family: "런드리고딕OTF Bold";
}

/*****select박스 공용*****/
.pjh-modifyformSelectBox{
    height: 60px;
    font-size: 25px;
    font-family: "런드리고딕OTF Bold";
    color: #89CFF0;
    border: 2px solid #89CFF0;
    border-radius: 10px;
    margin-right: 10px;
}
/************************/

/*****성별*****/
.pjh-modifyformGenderLabal{
    font-size: 40px;
    font-family: "런드리고딕OTF Regular";
    color: #89CFF0;
    margin-right: 20px;
}

.pjh-modifyformGenderRadio[type="radio"]{
    appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid #89CFF0;
    border-radius: 30px;
    margin-right: 60px;
}
.pjh-modifyformGenderRadio[type="radio"]:checked{
    background-color: #89CFF0;
    border: 5px solid #ffffff;
    box-shadow: 0 0 0 1.6px #89CFF0;
}

/********회원가입 완료 버튼********/
#pjh-modifyButton{
    width: 300px;
    margin: 0 auto;
    align-items: center;
    margin-top: 70px;
}

#pjh-modifyformCompleteButton{
    width: 300px;
    height: 60px;
    font-size: 40px;
    font-family: "런드리고딕OTF Regular";
    color: #ffffff;
    border: none;
    border-radius: 20px;
    background-color: #89CFF0;
}