@charset "UTF_8";


body,
div,
ul,
li,
dl,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form {
    margin: 0;
    padding: 0;
}

/*****공용*****/
@font-face {
    font-family: "런드리고딕OTF Bold";
    src: url('../../font/런드리고딕OTF Bold.otf') format('opentype');
}

@font-face {
    font-family: "런드리고딕OTF Regular";
    src: url('../../font/런드리고딕OTF Regular.otf') format('opentype');
}
/*****소모임 리스트 전체적*****/
.pjh-smallgathering{
    width: 1680px;
    margin: 0 auto;
    padding-left: 31px;
    padding-right: 31px;
    align-items: center;
    position: relative;
}
.yys-smallgathering-content {
    display: flex;
    margin-bottom: 30px;
}


/*****소모임 머리부분******/
#pjh-smallgatheringhead{
    width: 1680px;
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
    align-items: center;
}

/****소모임로고****/
#pjh-smallgatheringLogo>h2{
    font-size: 50px;
    font-family: "런드리고딕OTF Bold";
    color: #16517b;
    margin-left: 40px;
}

/*모임개설 버튼*/
#pjh-smallgatheringCreatebtn{
    width: 170px;
    height: 60px;
    font-size: 25px;
    font-family: "런드리고딕OTF Regular"; 
    border: none;
    border-radius: 10px;
    background-color: #89CFF0;
    margin: 0px 0px 0px 1100px;
}

#pjh-smallgatheringCreatebtnFont{
    text-decoration:none;
    color: #ffffff;
}

/***검색버튼 전체***/
.pjh-smallgatheringsearch{
    width: 900px;
    height: 69px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;
    border-bottom: 3px solid #89CFF0;
    border-top: 3px solid #89CFF0;
    border-right: 3px solid #89CFF0;
}

/*지역검색 글씨*/
#pjh-smallgatheringsearchLogo{
    width: 160px;
    height: 69px;
    font-size: 40px;
    font-family: "런드리고딕OTF Regular";
    color: #666;
    border:4px solid #666;
    padding: 4px 0px 0px 10px;
}

/*검색창*/
#pjh-smallgatheringsearchBox{
    width: 665px;
    height: 62px;
    font-size: 40px;
    font-family: "런드리고딕OTF Regular";
    color: #89CFF0;
    border: none;
    outline: none;
    margin-left: 15px;
}

/*검색버튼*/
#pjh-smallgatheringsearcBtn{
    border: none;
}

/*검색버튼이미지*/
#pjh-smallgatheringsearchBtnImage{
    width: 50px;
    height: 50px;
    border: none;
}

/***리스트영역***/
/*항목하나전체*/
.pjh-smallgatheringList{
    width: 500px;
    height: 650px;
    border: 7px solid #89CFF0;
    border-radius: 20px;
    margin: 40px 15px 0px 15px;
    float: left;
}

/**항목하나이미지칸**/
.pjh-smallgatheringListimageAll{
    position: relative;
}

/*항목하나모집표시*/
.pjh-smallgatheringListimageRecruitmentSign{
    width: 70px;
    height: 35px;
    position: absolute;
    left: 405px;
    bottom: 340px;
    font-size: 18px;
    font-family: "런드리고딕OTF Regular";
    color: #FF2e39;
    border: 3px solid #FF2e39;
    border-radius: 20px;
    padding-top: 3px;
    padding-left: 9px;
    z-index: 1;
}

/*항목하나이미지*/
.pjh-smallgatheringListimage{
    width: 490px;
    height: 400px;
    border-bottom:7px solid #89CFF0;
    border-radius: 15px;
}

/**항목하나설명란**/
.pjh-smallgatheringExplanationAll{
    width: 532px;
    height: 200px;
    margin-left: 10px;
}

/*항목하나제목*/
.pjh-smallgatheringExplanationTitle{
    font-size: 35px;
    font-family: "런드리고딕OTF Bold";
    color: #666;
    margin: 5px 0px 0px 0px;
}

/*항목하나설명글씨,색상*/
.pjh-smallgatheringExplanation{
    font-size: 25px;
    font-family: "런드리고딕OTF Regular";
    color: #666666;
    margin-top: 5px;
}

.gathering-pagination {
    margin: 40px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: "런드리고딕OTF Regular";
}

.gathering-pagination a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;

}

.gathering-pagination .gathering-page-arrow {
    color: #666666;
}

.gathering-pagination a.on,
.gathering-pagination a:hover {
    background-color: #16517b;
    font-weight: bold;
    color: white;
}