@charset "UTF_8";


body,
div,
ul,
li,
dl,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form {
    margin: 0;
    padding: 0;
}

/*****공용*****/
@font-face {
    font-family: "런드리고딕OTF Bold";
    src: url('../../font/런드리고딕OTF Bold.otf') format('opentype');
}

@font-face {
    font-family: "런드리고딕OTF Regular";
    src: url('../../font/런드리고딕OTF Regular.otf') format('opentype');
}
/*****소모임 리스트 전체적*****/
.pjh-smallgathering{
    width: 1680px;
    height: 1500px;
    margin: 0 auto;
    align-items: center;
}



/*****소모임 머리부분******/
#pjh-smallgatheringhead{
    max-width: 1680px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;
    border-bottom: 5px solid #89CFF0;
}

/****소모임로고****/
#pjh-smallgatheringLogo>h2{
    font-size: 120px;
    font-family: "런드리고딕OTF Bold";
    color: #89CFF0;
    margin-left: 40px;
}
/*이미지*/
#pjh-smallgatheringLogoimage{
    width: 120px;
    height: 100px;
}

/*모임개설 버튼*/
#pjh-smallgatheringCreatebtn{
    width: 150px;
    height: 60px;
    font-size: 25px;
    font-family: "런드리고딕OTF Regular";
    color: #ffffff;
    border: none;
    border-radius: 20px;
    background-color: #89CFF0;
    margin: 40px 0px 0px 1000px;
}

/***검색버튼 전체***/
.pjh-smallgatheringsearch{
    width: 700px;
    height: 70px;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    border: 3px solid #89CFF0;
    border-radius: 5px;
}

/*지역검색 글씨*/
#pjh-smallgatheringsearchLogo{
    width: 160px;
    height: 69px;
    font-size: 40px;
    font-family: "런드리고딕OTF Regular";
    color: #89CFF0;
    border-right:3px solid #89CFF0;
    padding: 7px 0px 0px 10px;
}

/*검색창*/
#pjh-smallgatheringsearchBox{
    width: 465px;
    height: 62px;
    font-size: 40px;
    font-family: "런드리고딕OTF Regular";
    color: #89CFF0;
    border: none;
    outline: none;
    margin-left: 15px;
}

/*검색버튼*/
#pjh-smallgatheringsearcBtn{
    border: none;
}

/*검색버튼이미지*/
#pjh-smallgatheringsearchBtnImage{
    width: 50px;
    height: 50px;
    border: none;
}

/***리스트영역***/
/*항목하나전체*/
.pjh-smallgatheringList{
    width: 540px;
    height: 600px;
    border: 7px solid #89CFF0;
    border-radius: 5px;
    margin: 40px 10px 0px 10px;
    float: left;
}

/**항목하나이미지칸**/
.pjh-smallgatheringListimageAll{
    position: relative;
}

/*항목하나모집표시*/
.pjh-smallgatheringListimageRecruitmentSign{
    width: 65px;
    position: absolute;
    left: 450px;
    bottom: 335px;
    font-size: 16px;
    font-family: "런드리고딕OTF Regular";
    color: #C3602D;
    border: 3px solid #C3602D;
    border-radius: 20px;
    padding-left: 9px;
    z-index: 1;
}

/*항목하나이미지*/
.pjh-smallgatheringListimage{
    width: 532px;
    height: 400px;
    border-bottom:7px solid #89CFF0;
}

/**항목하나설명란**/
.pjh-smallgatheringExplanationAll{
    width: 532px;
    height: 200px;
    margin-left: 10px;
}

/*항목하나제목*/
.pjh-smallgatheringExplanationTitle{
    font-size: 35px;
    font-family: "런드리고딕OTF Bold";
    color: #89CFF0;
    margin: 5px 0px 0px 0px;
}

/*항목하나코스*/
.pjh-smallgatheringExplanation{
    font-size: 25px;
    font-family: "런드리고딕OTF Regular";
    color: #89CFF0;
    margin-top: 5px;
}
