@font-face {
  font-family: "런드리고딕OTF Regular";
  src: url('../font/런드리고딕OTF Regular.otf') format('opentype');
}

@font-face {
  font-family: "런드리고딕OTF Bold";
  src: url('../font/런드리고딕OTF Bold.otf') format('opentype');
}

.ksb-header-All{
  width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.ksb-header {
  background-color: #ffffff;
  left: 0px;
  min-width: 512px;
  height: 115px;
  margin-bottom: 10px;

}

.title{
  width: 33.33%;
  height: 95px;
}

.title h1{
  text-align: center;
  font-size: 70px;
  font-family: "런드리고딕OTF Bold";
  color: #89cff0;
}

#ksb-btn-box{
  margin-top: 20px;
  text-align: right;
}

#ksb-btn-box>ul>a{
  margin-right: 30px;
  font-size: 25px;
  font-family: "런드리고딕OTF Bold";
  color: #89cff0;
}

#header-ul2{
  margin-top: 40px;
  margin-bottom: 0px;
}

.ksb-nav {
  justify-content: center;
  align-items: center;
  background-color: #89cff0;
  min-width: 1920px;
}

.ksb-nav_menuAll{
}

.ksb-nav_menu {
  width: 1920px;
  text-decoration: none;
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding:0 auto;
  align-items: center;
  padding-left: 0;
  justify-content: center;
}

.ksb-nav_menu li {
  margin: 0px 20px 0px 20px;
  text-decoration: none;
  padding: 8px 30px;
  font-family: "런드리고딕OTF Regular";
}

.ksb-nav_menu>li>a {
  font-size: 25px;
  text-decoration: none;
  padding: 8px 30px;
  font-family: "런드리고딕OTF Regular";
  color: #ffffff;
}

.ksb-nav_menu>li>a:nth-child(1) {
  font-size: 25px;
  text-decoration: none;
  padding: 8px 30px;
  font-family: "런드리고딕OTF Regular";
  color: #ffffff;
}