@font-face {
    font-family: "런드리고딕OTF Regular";
    src: url('../../font/런드리고딕OTF Regular.otf') format('opentype');
}

@font-face {
    font-family: "런드리고딕OTF Bold";
    src: url('../../font/런드리고딕OTF Bold.otf') format('opentype');
}

.yys-title {
    border-bottom: 1px solid #d9d9d9;
    margin: 20px 100px ;
    font-family: "런드리고딕OTF Bold";
    color: #89cff0;
}

#yys-contentbox {
    display: inline-flex;
    font-family: "런드리고딕OTF Regular";
    max-width: 1680px;
    min-width: 480px;
    margin: 10px 120px 10px 120px;
    /*
    border: 5px solid #89cff0;
    */
    justify-content: center;
    border-radius: 5px;
}

/* 코스리스트-START */
.yys-courselist-content {
    border: 5px solid #89cff0;
    width: 310px;
}


#yys-course-btn-box {
    display: flex;
    margin: 10px;
    justify-content: center;
}

#yys-course-btn-box span {
    display: inline-block;
    margin-top: 6px;
    font-size: 25px;
    color: #89cff0;
}

.yys-course-select-btn {
    border: white;
    background-color: white;
    margin: 0px 5px 0px 5px;
    padding: 2px;
    border-radius: 10px;
    color: #d9d9d9;
    font-size: 20px;
}

.yys-course-select-btn:focus {
    color: #89cff0;
}



#yys-searchbox {
    border-top: 1px solid #d9d9d9;
    display: flex;
    margin: 10px;
    padding: 20px 20px 10px 20px;
    justify-content: center;
}

#yys-filterbox {
    border-top: 1px solid #d9d9d9;
    display: flex;
    margin: 10px;
    padding: 10px 10px 0px 20px;
    justify-content: center;
}

.yys-filter-btn {
    background-color: white;
    border: #89cff0;
    color: #cccccc;
    margin: 5px 5px 0px 5px;
    padding: 2px 5px 0px 2px;
    border: 5px solid #cccccc;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
}
.yys-filter-btn img {
    width: 25px;
    margin-right: 5px;
}

#yys-search-input {
    width: 210px;
    margin-right: 10px;
    border: 5px solid #89cff0;
    border-radius: 1px;
}

#yys-search-btn {
    background-color: white;
    border: white;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

#yys-search-btn img{
    width: 35px;
}

#yys-list {
    height: 350px;
    border-top: 1px solid #d9d9d9;
    margin: 10px;
    padding: 5px 5px 5px 10px;
    overflow-y: scroll;
}

.yys-list-info {
    border: 1px solid #89cff0;
    margin: 5px 0px 5px 0px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

.yys-list-contentbox {
    width: 310px;
    font-size: 10px;
    float: left;
}

.yys-list-contentbox p {
    margin-bottom: 5px;
}


.yys-list-info img {
    width: 20px;
    margin: 0px 3px 0px 3px;
}

#yys-course-title {
    font-size: 25px;
}

.yys-list-info button {
    background-color: white;
    border: white;
}

.yys-listcontent-ex {
    display: flex;
}
.yys-listinfo-ex1, .yys-listinfo-ex2 {
    margin: 5px 10px 5px 10px;
    font-size: 15px;
}
#yys-course-icon-img {
    font-size: 15px;
}
#yys-course-icon-img span {
    margin: 3px;
}
.yys-list-info-arrow{
    justify-content: center;
}

.yys-list-info-arrow img{
    cursor: pointer;
}



/* 코스리스트-End */

/* 해당 1개정보 리스트-Start */
.yys-reviewlist-content {
    border: 5px solid #89cff0;
    border-left: 0px;
    width: 310px;
}

#yys-course-name-box {
    display: flex;
    margin: 10px;
    justify-content: center;
}

#yys-course-name-box span {
    margin-top: 6px;
    font-size: 30px;
}

#yys-course-explanation {
    border-top: 1px solid #d9d9d9;
    display: flex;
    margin: 10px;
    padding: 20px 20px 10px 20px;
    justify-content: center;
    font-size: 30px;
    color: #d9d9d9;
}

#yys-content-link-box {
    border-top: 1px solid #d9d9d9;
    display: block;
    margin: 10px;
    padding: 10px 10px 0px 20px;
    justify-content: left;
}

.yys-link-btn {
    display: block;
}

#yys-reviewbox {
    border-top: 1px solid #d9d9d9;
    display: flex;
    margin: 10px;
    padding: 20px 20px 10px 20px;
    justify-content: center;
}

#yys-review-input {
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    width: 180px;
    margin-right: 10px;
    border-radius: 5px;
}


#yys-review-btn {
    width: 50px;
    height: 45px;
    background-color: #89cff0;
    border: #89cff0;
    color: white;
    border-radius: 5px;
}

#yys-review-btn img{
    width: 25px;
}


#yys-reviewlist {
    height: 220px;
    border-top: 1px solid #d9d9d9;
    margin: 10px;
    padding: 5px 5px 5px 10px;
    overflow-y: scroll;
}

.yys-reviewlist-info {
    display: flex;
    align-items: center;
    border: 1px solid #89cff0;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    padding: 10px;
}

.yys-reviewlist-info img {
    width: 65px;
    margin-right: 30px;
}

#yys-explanation {
    width: 150px;
}

/* 해당 1개정보 리스트-End */

/* map-Start */

.yys-coursemap {
    width: 1270px;
    height: 600px;
}

.yys-coursemap img {
    width: 100%;
    height: 100%;
}


/* map-End */
#yss-filter-modal {
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
    border: 3px solid #89CFF0;
    border-radius: 20px;
    background-color: white;
    z-index: 10000;
    width: 500px;
    height: 300px;
  
}

.yys-filter-close-modal {
    cursor: pointer;
    text-align: right;
    margin: 10px 10px 0px 0px;
}

.yys-filter-btn-modal {
    text-align: center;

}

.yys-filter-btn-modal img {
    width: 25px;
    margin-right: 5px;
}

#yys-filter-checkbox input[type='checkbox'] {
    margin-right: 10px;
    margin-left: 10px;
}