@font-face {
  font-family: "런드리고딕OTF Regular";
  src: url('../../font/런드리고딕OTF Regular.otf') format('opentype');
}

@font-face {
  font-family: "런드리고딕OTF Bold";
  src: url('../../font/런드리고딕OTF\ Bold.otf') format('opentype');
}

.ds-gallery {
  display: flex;
  flex-direction: column;
}

.ds-gallery-contents{
  margin-left: 120px;
  margin-right: 120px;
}

.ds-header{
  display: flex;
  justify-content: space-between;
}

h1.ds-gallery-title {
  font-size: 70px;
  margin-top: 30px;
  font-family: "런드리고딕OTF Bold";
  color: #89CFF0;
}

.ds-column {
  display: flex;
  justify-content: space-between;
}

.ds-walkingComments {
  border: 3px solid #89CFF0;
  border-radius: 20px;
}

.ds-profile-all {
  display: flex;
  justify-content: center;
}

.ds-nickname {
  font-size: 30px;
  height: 50px;
}
.ds-profile-detail {
  margin: 20px 10px 5px 30px; 
}

.ds-profile {
  border-radius: 50%;
  width: 150px; /* 이미지의 너비 */
  height: 150px; /* 이미지의 높이 */
  object-fit: cover; /* 이미지가 테두리에 맞게 조정되도록 */
}


.ds-column .ds-main-image{
  width: 400px;
  height: 400px;
}

.ds-divider{
  border-top: 3px solid #d6d6d6;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.ds-shortCmt{
  font-size: 25px;
}
.ds-date{
  font-size: 17px;
}
.ds-additional-images img {
  width: 250px;
  height: 150px;
}

button.ds-upload {
  
  width: 250px;
  height: 85px;
  border: 8px solid #89CFF0;
  border-radius: 30px;
  color: #89CFF0;
  text-align: center;
  margin-top: 30px;
  font-size: 45px;
  font-family: "런드리고딕OTF Regular";
  cursor: pointer;
  background-color:transparent;
}