@font-face {
  font-family: "런드리고딕OTF Regular";
  src: url('../../font/런드리고딕OTF Regular.otf') format('opentype');
}

@font-face {
  font-family: "런드리고딕OTF Bold";
  src: url('../../font/런드리고딕OTF\ Bold.otf') format('opentype');
}

.ds-gallery {
  display: flex;
  flex-direction: column;
}

.ds-gallery-contents {
  width: 1680px;
  margin: 0 auto;
  /* align-items: center; */
}
.ds-column {
  column-width: 350px;
  column-gap: 20px;
}


.ds-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

h1.ds-gallery-title {
  font-size: 50px;
  margin-top: 30px;
  font-family: "런드리고딕OTF Bold";
  color: #068cd2;
}


button.ds-upload {

  width: 200px;
  height: 65px;
  border: 8px solid #068cd2;
  border-radius: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  font-size: 35px;
  font-family: "런드리고딕OTF Regular";
  cursor: pointer;
  background-color: #068cd2;
  margin-right: 5px;
}



.ds-course-button i.dsimglib {
  color: #068cd2;
  font-size: 35px;
}

.dsWrite {
  font-size: 40px;
  position: relative;
  top: 10px;
}

.modal-content{
  border: 3px solid #068cd2 !important;
  border-radius: 20px !important;
  height: 800px;
  
}
.ds-modal-title{
  font-size: 35px;
  font-family: "런드리고딕OTF Regular";
  color: #068cd2;
  margin-top: 5px;
}

.ds-photo-infoLabel {
  font-size: 28px;
  color: #068cd2;
  font-family: "런드리고딕OTF Regular";
  margin: 20px 0px 7px 2px;
}
#ds-photo-info-text {
  width: 100%;
  font-family: "런드리고딕OTF Regular"; 
  border: 2px solid #068cd2; 
  border-radius: 10px; 
  padding: 15px;
  height: 250px;
  font-size: 23px;
  text-align: left;
  line-height: normal;
}


.ds-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 0;
}

.material-icons.dsCancel {
  font-size: 36px;
  color: #068cd2;
}







.ds-photo-label {
  position: relative;
  display: flex;
  text-align: center; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #068cd2;
  border-radius: 20px;
  padding: 10px;
  width: 370px;
  margin-top: 15px;
  font-size: 30px;
  cursor: pointer;
}


.ds-PrevNext {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.dsPrev, .dsNext {
  font-size: 50px;
  cursor: pointer;
}

.ds-Course{
  margin: 15px 15px 135px 15px;
}

.ds-select-courseLabel{
  font-size: 28px;
  color: #068cd2;
  font-family: "런드리고딕OTF Regular";
  
}
#ds-selectCourse-option {
  width: 100%; 
  border: 2px solid #068cd2;
  font-family: "런드리고딕OTF Regular"; 
  border-radius: 10px; 
  padding: 10px;
  font-size: 23px;
}
.ds-modal-footer{
  border-top: 2px solid #dee2e6;
  padding-bottom: 40px;
  text-align: end; 
}
.ds-closeBtn{
  border-width: 3px;
  border-style: solid;
  border-color: #666666;
  width: 100px;
  border-radius: 15px;
  height: 40px;
  font-size: 24px;
  font-family: "런드리고딕OTF Regular";
  margin-right: 15px;
  margin-top: 15px;
  background-color: #666666;
  color: #ffffff;

}
.ds-uploadBtn{
  border-width: 3px;
  border-style: solid;
  border-color: #068cd2;
  width: 100px;
  border-radius: 15px;
  height: 40px;
  font-size: 24px;
  font-family: "런드리고딕OTF Regular";
  margin-right: 15px;
  margin-top: 15px;
  background-color: #068cd2;
  color: #ffffff;
}


.ds-modalupload-button{
 
  border-color: #068cd2;
  border-style: solid;
  border-radius: 30px;
  background-color: #068cd2;
  text-align: center;
  color: #ffffff;
  width: 300px;
  height: 70px;
  margin-top: 30px;
  font-size: 30px;
}
.material-icons.dsUpload {
  font-size: 30px;
  position: relative;
  top: 5px;
}


.ds-walkingComments {
  display: flex;
  border: 3px solid #068cd2;
  border-radius: 20px;
  margin-bottom: 20px;
}

.ds-profile-all {
  display: flex;
  justify-content: center;
}


.ds-nickname {
  font-size: 30px;
  font-family: "런드리고딕OTF Regular";
  height: 50px;
  margin-left: 6px;
}

.ds-adprofile{
  border-radius: 50%;
  width: 170px;
  height: 170px;
  object-fit: cover;/* 이미지가 테두리에 맞게 조정되도록 */
  margin-top: 5px;
  margin-right: 10px;
}
.ds-ad {
  border: 2px solid #c6c6c6;
  border-radius: 10%;
  width: 35px;
  font-size: 20px;
  margin-right: 20px;
  background-color: #ebe6e6;
}

.ds-profile-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 10px 5px 30px;
}

.ds-lvAll {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-family: "런드리고딕OTF Regular";
}

i.material-icons.dslevel {
  font-size: 35px;
  color: rgb(13, 142, 99);
}

.ds-profile {
  border-radius: 50%;
  width: 130px;
  height: 125px;
  object-fit: cover;/* 이미지가 테두리에 맞게 조정되도록 */
  margin-top: 5px;
  margin-right: 10px;
  
}

.ds-MainContents {
  display: inline-block;
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;

}
.ds-main-images {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
}

.carousel slide {
  width: 100%;
  height: auto;
  
}
button.carousel-control-next, button.carousel-control-prev {
  top: 70px;
}

span.carousel-control-next-icon, span.carousel-control-prev-icon {
  background-color: black;
}

.ds-underPics {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  font-size: 19px;
  margin: 0 10px
}


.ds-main-adimage{
  width: 100%;
  height: auto;
  cursor: pointer;
}

.ds-divider {
  border-top: 3px solid #d6d6d6;
  margin-top: 10px;
  margin-bottom: 10px;

}

.ds-shortCmt {
  font-size: 25px;
  font-family: "런드리고딕OTF Regular";
  margin: 3px 10px 0px 10px;
}
.material-icons.dsLocation{
  color: #068cd2;
}
.material-icons dsLocation, .ds-date {
  display: inline-block;
  vertical-align: middle;
}

.ds-date {
  font-size: 18px;
  margin-bottom: 0px;
}

.ds-additional-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ds-additional-images img {
 /*  width: 100%;
  height: auto;
  margin-bottom: 10px; */
  width: 250px;
  height: 150px;
  margin-left: 35px;
}

.ds-underPics {
  font-size: 19px;
  margin-right: 2px;
}

.ds-icon-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  margin: 0px 0px 5px 10px;
}

.ds-icon-likeGroup, .ds-icon-hitGroup {
  display: flex;
  align-items: center;
}

.ds-course-info {
  display: grid;
  grid-template-columns: 1fr 1fr;/* 두 개의 열로 나누고, 각각 동일한 너비를 차지 */
  gap: 10px; /* 요소들 사이의 간격 */
  margin: 25px 0; /* 전체 섹션의 여백 */
  font-family: "런드리고딕OTF Regular";
}

.ds-subTitle,
.ds-courseLevel,
.ds-totalDistance,
.ds-totalTime {
  font-size: 16px;
  margin: 3px 0; /* 텍스트 요소 사이의 간격 */
}

.ds-icon-hitGroup{
  margin-right: 15px;
}

.dsfavorite {
  cursor: pointer;
  color: #ffffff;
  
}

.ds-likesCount, .ds-hitsCount {
  margin-left: 10px;
}

.ds-course-router {
  font-family: "런드리고딕OTF Bold";
  font-size: 17px;
  margin-right: 10px;
 
}
.ds-image-modal-title{
  display: flex;
  align-items: center;
  font-family: "런드리고딕OTF Regular";
}
.material-icons.dszoom{
  font-size: 29px;
    padding-bottom: 3px;
    padding-left: 3px;
}
.ds-imgbtn-close{
  cursor: pointer;
}
.ds-imagemodal-content{
  border: 3px solid #068cd2 !important;
  background-color: #ffffff;
  border-radius: 20px !important;
  width: auto;
  height: auto;
  padding-bottom: 15px;
  object-fit: cover;

}
.ds-main-modal-body img {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 80vh; /* 창 높이에 맞추기 위해 추가 */
}



  .carousel-inner img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 부모 요소를 덮도록 설정 */
    /* 이미지가 컨테이너를 덮도록 설정 */
    cursor: pointer;
  }

  .carousel-item {
    /* aspect-ratio: 16/9; */
    /* 원하는 종횡비로 설정 */
    overflow: hidden;
  }
  .carousel-item.active {
    /* aspect-ratio: 16/9; */
    /* 원하는 종횡비로 설정 */
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    }
    
 


  #carouselExample2 {
    display: flex;    
    }
    .carousel {
      display: flex;    
      }
      .slide {
    display: flex;    

}

  .carousel-item.active img {
    /* aspect-ratio: 16/9; */
    /* 원하는 종횡비로 설정 */
    margin: 0px;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    background-color: white;
  }

  .carousel-control-prev,
  .carousel-control-next {
    height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  }
  .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* 배경색을 반투명한 검은색으로 설정 */
    z-index: 1040; /* 모달 뒤에 오버레이되도록 z-index 설정 */
  }



/* CSS */

.carousel-inner {
  width: 100%;
  height: 150px; 
}

.carousel-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.carousel-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; 
}


.ys-contents-box {
  display: flex;
  justify-content: center;
}

.ys-icon {
  display: flex;
}