@font-face {
    font-family: "런드리고딕OTF Regular";
    src: url('../../font/런드리고딕OTF Regular.otf') format('opentype');
}

@font-face {
    font-family: "런드리고딕OTF Bold";
    src: url('../../font/런드리고딕OTF\ Bold.otf') format('opentype');
}

#ksb-achieve-All{
    display: flex;
    justify-content: center;
}

#yys-box{
    width: 1680px;
}
#yys-box2{
    display: flex;
    justify-content: center;
}


#ksb-achieve-subTitle{
    display: flex;
    height: 80px;
    margin-top: 20px;
}
#ksb-achieve-subTitle h2{
    display: inline-block;
    text-align: center;
    width: 33.33%;
    font-size: 50px;
    font-family: "런드리고딕OTF Bold";
    color: #16517b;
    margin-top: 15px;
}

#ksb-achieve-subTitle span{
    width: 33.33%;
    font-size: 35px;
    font-family: "런드리고딕OTF Regular";
    color: #666666;
    margin-top: 20px;
    text-align: center;
}
#ksb-achieve-bookArea{
    text-align: center;
    width: 1480px;
    height: 1000px;
    background-image: url(../../img/책.png);
}

#yys-paging-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#yys-achieve-List-box{
    display: flex;
    height: 750px;
}

#yys-btn-center{
    align-content: center;
    width: 1000px;
}
.ksb-achieve-List{
    width: 550px;
    height: 600px;
    margin-top: 75px;
    margin-left: 100px;
    float: left;
    padding-top: 30px;
    padding-left: 50px;
    
}

#ksb-achieve-imgArea{
    display: flex;
    align-items: center;
    width: 520px;
    height: 190px;
}


.ksb-achieve-Img{
    width: 100%;
    height: 100%;
    background-color: #d6d6d6;
    border: 3px solid #666666;
    border-radius: 100%;
}
.yys-img-bg {
    width: 120px;
    height: 120px;
    background-color: #d6d6d6;
    border: 3px solid #666666;
    border-radius: 100%;
}

.ksb-achieve-text{
    display: inline-block;
    width: 370px;
    height: 140px;
    text-align: left;
    margin-left: 10px;
}

.ksb-achieve-text p{
    font-size: 40px;
    font-family: "런드리고딕OTF Bold";
    margin-bottom: 0px;
}

.ksb-achieve-text span{
    display: inline-block;
    font-size: 25px;
    font-family: "런드리고딕OTF Regular";
    margin-top: 15px;
}

#ksb-prev-btn{
    width: 80px;
    height: 50px;
    background-color: #068cd2;
    font-size: 20px;
    font-family: "런드리고딕OTF Regular";
    color: #fff;
    border-radius: 10px;
    border: none;
    line-height: normal;
    margin: 0 auto;
    margin-top: 20px;
}


.yys-arrow-img{
    width: 80px;
    height: 50px;
    background-color: #068cd2;
    font-size: 20px;
    font-family: "런드리고딕OTF Regular";
    color: #fff;
    border-radius: 10px;
    border: none;
    line-height: normal;
    margin: 0 auto;

}
.yys-btn {
    width: 80px;
}