@font-face {
    font-family: "런드리고딕OTF Regular";
    src: url('../../font/런드리고딕OTF Regular.otf') format('opentype');
}

@font-face {
    font-family: "런드리고딕OTF Bold";
    src: url('../../font/런드리고딕OTF\ Bold.otf') format('opentype');
}
#myP-subMenu{
    width: 1680px;
    margin-left: 120px;
}

#myP-subMenu h2{
    font-family: "런드리고딕OTF Bold";
    font-size: 40px;
    color: #d6d6d6;
    border-bottom: 5px solid #d6d6d6;
    margin-top: 30px;
}
#ksb-myP-upperarea{
    display: block;
    width: 1680px;
    height: 300px;
}

#ksb-empty-area{
    width: 1680px;
    height: 10px;
    border-bottom: 5px solid #d6d6d6;
    margin-left: 120px;
    margin-bottom: 30px;
}

#ksb-profile-area{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 100%;
    margin-top: 40px;
    margin-left: 150px;
    border: 3px solid #8d8d8d;
    display: inline-block;
}

.ksb-profile-upload-area label {
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    font-family: "런드리고딕OTF Regular";
    line-height: normal;
    vertical-align: middle;
    background-color: #89cff0;
    cursor: pointer;
    border-radius: .25em;
    margin-left: 330px;
    margin-top: -80px;
  }

.ksb-profile-upload-area input[type="file"] {  /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

#myP-detail{
    display: block;
    width: 1000px;
    margin-left: 400px;
}
#myP-name span{
    font-size: 60px;
    font-family: "런드리고딕OTF Bold";
    color: #666666;
    line-height: normal;
    vertical-align: middle;
}

#myP-name{
    width: 1360px;
    height: 65px;
    margin-left: 20px;
    margin-top: -220px;
}
#myP-sticker{
    width: 1355px;
    height: 65px;
    margin-left: 25px;
    margin-top: 20px;
}

#myP-sticker span{
    font-size: 33px;
    font-family: "런드리고딕OTF Regular";
    color: #2b683e;
    line-height: normal;
    vertical-align: middle;
}

#myP-Walk{
    width: 850px;
    height: 60px;
    margin-left: 25px;
    margin-top: -5px;
}

#myP-Walk span{
    font-size: 33px;
    font-family: "런드리고딕OTF Regular";
    color: #666666;
    line-height: normal;
    vertical-align: middle;
}

#ksb-member-info{
    display: block;
    width: 150px;
    height: 60px;
    font-family: "런드리고딕OTF Bold";
    font-size: 20px;
    color: #ffffff;
    background-color: #cccccc;
    border-radius: 5px;
    border: none;
    float: right;
}

#myP-detail ul li:nth-child(3){
    font-size: 30px;
    font-family: "런드리고딕OTF Regular";
    color: #336b4c;
}

#myP-detail #ksb-sticker-btn{
    width: 80px;
    height: 40px;
    font-size: 20px;
    font-family: "런드리고딕OTF Bold";
    line-height: normal;
    vertical-align: middle;
    border-radius: 5px;
    border:3px solid #d6d6d6;
    color: #d6d6d6;
    background-color: #ffffff;
    margin-left: 50px;
}

#myP-detail #ksb-like-btn{
    display: block;
    width: 150px;
    height: 60px;
    font-family: "런드리고딕OTF Bold";
    font-size: 20px;
    color: #ffffff;
    background-color: #cccccc;
    border-radius: 5px;
    border: none;
    float: right;
}

#myP-detail ul li button{
    float: right;
}

#ksb-myP-myWalk{
    width: 1365px;
    height: 380px;
    background-color: #cccccc;
    border-radius: 40px;
    border: none;
    margin-left: 278px;
}

 .ksb-mywalk-span{ 
    color: #fff;
    font-size: 50px;
    font-family: "런드리고딕OTF Bold";
    padding-left: 40px;
}

#ksb-myP-myWalk-Area{
    width: 1270px;
    height: 245px;
    background-color: #ffffff;
    margin-left: 45px;
    margin-top: 15px;
}

.ksb-myP-myWalk-list{
    width: 1160px;
    height: 100px;
    border: 3px solid #cccccc;
    margin-left: 50px;
    margin-top: 20px;
}

#ksb-myP-achievement{
    width: 1365px;
    height: 330px;
    background-color: #cccccc;
    border-radius: 40px;
    border: none;
    margin-left: 278px;
    margin-top: 30px;
}

.ksb-myP-myWalk-list span{
    font-size: 20px;
    font-family: "런드리고딕OTF Regular";
    color: #8d8d8d;
    margin-left: 20px;
    padding-top: 50px;
}

.ksb-myP-myWalk-list ul li{
    float: left;
    font-size: 25px;
    color: #8d8d8d;
    font-family: "런드리고딕OTF Regular";
    margin-top: 15px;
    margin-right: 20px;
}

#ksb-myP-achievement-Area{
    width: 1270px;
    height: 185px;
    background-color: #ffffff;
    margin-left: 45px;
    margin-top: 15px;
}

#ksb-myP-achievement-Area ul li{
    font-size: 45px;
    font-family: "런드리고딕OTF Regular";
    color: #8d8d8d;
    margin-top: 20px;
}

#myP-detail ul li:nth-child(6){
    font-size: 30px;
    font-family: "런드리고딕OTF Regular";
}

#ksb-member-expire{
    width: 225px;
    height: 85px;
    background-color: #ff2e39;
    color: #fff;
    font-size: 40px;
    font-family: "런드리고딕OTF Regular";
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    float: right;
    margin-right: 370px;
}