@font-face {
    font-family: "런드리고딕OTF Regular";
    src: url('../../font/런드리고딕OTF Regular.otf') format('opentype');
}

@font-face {
    font-family: "런드리고딕OTF Bold";
    src: url('../../font/런드리고딕OTF\ Bold.otf') format('opentype');
}
#ksb-myP-All{
  display: flex;
  width: 1300px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 30px;
}

#myP-subMenu{
    width: 1300px;
    
}

#myP-subMenu h2{
    font-family: "런드리고딕OTF Bold";
    font-size: 50px;
    color: #16517b ;
    border-bottom: 5px solid #16517b ;
    margin-top: 30px;
    padding-bottom: 15px;
}
#ksb-myP-upperarea{
    display: block;
    width: 1300px;
    height: 215px;
}

#ksb-empty-area{
    width: 1300px;
    height: 10px;
    border-bottom: 5px solid #16517b;
    margin-bottom: 30px;
}

#ksb-img-all{
  display: inline-block;
  width: 270px;
  height: 250;
}

#ksb-profile-area{
    width: 170px;
    height: 170px;
    background-color: #fff;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 30px;
    border: 3px solid #16517b;
    display: inline-block;
}

.ksb-profile-upload-area label {
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    font-family: "런드리고딕OTF Regular";
    line-height: normal;
    vertical-align: middle;
    background-color: #068cd2;
    cursor: pointer;
    border-radius: .25em;
    margin-left: 200px;
    margin-top: -60px;
  }

  #ksb-img-form{
    width: 70px;
    height: 40px;
    font-size: 12px;
    font-family: "런드리고딕OTF Regular";
    color: #fff;
    background-color: #16517b;
    border-radius: .25em;
    border: none;

  }

.ksb-profile-upload-area input[type="file"] {  /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}


#ksb-profile-upload-area2{
  float: right;
}

#myP-detail{
    display: block;
    width: 1000px;
    margin-left: 250px;
}
#myP-name-name{
    font-size: 45px;
    font-family: "런드리고딕OTF Bold";
    color: #666666;
    line-height: normal;
    vertical-align: middle;
}

#myP-name{
    width: 960px;
    height: 50px;
    margin-left: 20px;
    margin-top: -180px;
}
#myP-sticker{
    width: 955px;
    height: 55px;
    margin-left: 25px;
    margin-top: 10px;
}

#myP-sticker span{
    font-size: 25px;
    font-family: "런드리고딕OTF Regular";
    color: #2b683e;
    padding-top: -20px;
}

#myP-Walk{
    width: 955px;
    height: 55px;
    margin-left: 25px;
    margin-top: -10px;
}

#myP-Walk span{
    font-size: 25px;
    font-family: "런드리고딕OTF Regular";
    color: #666666;
    line-height: normal;
    vertical-align: middle;
}

#ksb-member-info{
    display: block;
    width: 135px;
    height: 50px;
    font-family: "런드리고딕OTF Bold";
    font-size: 20px;
    color: #ffffff;
    background-color: #16517b;
    border-radius: 5px;
    border: none;
    float: right;
    margin-top: -20px;
}

#ksb-member-info a{
  text-decoration: none;
  color: #fff;
}

#myP-detail ul li:nth-child(3){
    font-size: 30px;
    font-family: "런드리고딕OTF Regular";
    color: #336b4c;
}

#myP-detail #ksb-sticker-btn{
    width: 70px;
    height: 35px;
    font-size: 18px;
    font-family: "런드리고딕OTF Bold";
    line-height: normal;
    vertical-align: middle;
    border-radius: 5px;
    border:3px solid #16517b;
    color: #16517b;
    background-color: #ffffff;
    margin-left: 30px;
}

#myP-detail #ksb-like-btn{
    display: block;
    width: 135px;
    height: 50px;
    font-family: "런드리고딕OTF Bold";
    font-size: 20px;
    color: #ffffff;
    background-color: #16517b;
    border-radius: 5px;
    border: none;
    float: right;
    margin-top: -20px;
}

#myP-detail #ksb-myGal-btn{
    display: block;
    width: 135px;
    height: 50px;
    font-family: "런드리고딕OTF Bold";
    font-size: 20px;
    color: #ffffff;
    background-color: #16517b;
    border-radius: 5px;
    border: none;
    float: right;
    margin-top: -3px;
}

#myP-detail ul li button{
    float: right;
}

#ksb-myP-myWalk{
    width: 1200px;
    height: 800px;
    background-color: #068cd2;
    border-radius: 40px;
    border: none;
    margin-left: 35px;
}

 .ksb-mywalk-span{ 
    color: #fff;
    font-size: 40px;
    font-family: "런드리고딕OTF Bold";
    padding-left: 40px;
}

.ksb-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }

  .ksb-modal {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #89CFF0;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10000;
    width: 600px;
    height: 800px;
  }

  .ksb-modal #ksb-modal-title-area{
    width: 596px;
    height:75px;
  }
  #ksb-modal-title-area button{
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    border: none;
    background-color: transparent;
  }
  #ksb-modal-title-area img{
    width: 30px;
    height: 30px;
  }

  .ksb-modal #ksb-modal-Sticker {
    font-size: 70px;
    font-family: "런드리고딕OTF Bold";
    color: #89CFF0;
    margin: 20px 0px 0px 210px;
  }

  .ksb-modal #ksb-modal-mainImg {
    font-size: 35px;
    font-family: "런드리고딕OTF Regular";
    color: #666666;
    margin: 50px 0px 0px 225px;
    padding-top: 10px;
  }

  .ksb-modal #ksb-main-Sticker{
    width: 188px;
    height: 188px;
    border: 5px solid #666666;
    border-radius: 100%;
    margin-left: 210px;
    margin-top: 20px;
  }

  .ksb-modal #ksb-main-Sticker img{
    width: 155px;
    height: 155px;
    margin-left: 12px;
    margin-top: 6px;
  }

  .ksb-modal #ksb-modal-listAll{
    width: 596px;
    height: 360px;
  }
  .ksb-modal #ksb-sticker-List1{
    width: 596px;
    height: 130px;
  }
  .ksb-modal #ksb-sticker-name1{
    width: 540px;
    height: 20px;
    margin-left: 60px;
  }
  .ksb-modal #ksb-sticker-List2{
    width: 596px;
    height: 130px;
  }
  .ksb-modal #ksb-sticker-name2{
    width: 540px;
    height: 20px;
    margin-left: 48px;
  }
  .ksb-modal #ksb-sticker-List1 li{
    width: 130px;
    height: 130px;
    border: 4px solid #6d6d6d;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;

  }
  .ksb-modal #ksb-sticker-name1 li{
    font-size: 18px;
    font-family: "런드리고딕OTF Regular";
    color: #666666;
    float: left;
    margin-right: 85px;
  }
  .ksb-modal #ksb-sticker-List1 li:nth-child(1){
    width: 130px;
    height: 130px;
    border: 4px solid #6d6d6d;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
    margin-left: 35px;

  }
  .ksb-modal #ksb-sticker-name1 li:nth-child(2){
    font-size: 18px;
    font-family: "런드리고딕OTF Regular";
    color: #666666;
    float: left;
    margin-right: 80px;
  }
  .ksb-modal #ksb-sticker-List2 li{
    width: 130px;
    height: 130px;
    border: 4px solid #6d6d6d;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;

  }
  .ksb-modal #ksb-sticker-List2 li:nth-child(1){
    width: 130px;
    height: 130px;
    border: 4px solid #6d6d6d;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
    margin-left: 35px;

  }
  .ksb-modal #ksb-sticker-name2 li{
    font-size: 18px;
    font-family: "런드리고딕OTF Regular";
    color: #666666;
    float: left;
    margin-right: 115px;
  }
  .ksb-modal #ksb-sticker-name1 li:nth-child(1){
    font-size: 18px;
    font-family: "런드리고딕OTF Regular";
    color: #666666;
    float: left;
    margin-left: 13px;
    margin-right: 80px;
  }
  .ksb-modal #ksb-sticker-name2 li:nth-child(1){
    font-size: 18px;
    font-family: "런드리고딕OTF Regular";
    color: #666666;
    float: left;
    margin-left: 13px;
    margin-right: 115px;
  }
  .ksb-modal #ksb-sticker-name2 li:nth-child(2){
    font-size: 18px;
    font-family: "런드리고딕OTF Regular";
    color: #666666;
    float: left;
    margin-right: 130px;
  }
  .ksb-modal #ksb-sticker-name2 li:nth-child(3){
    font-size: 18px;
    font-family: "런드리고딕OTF Regular";
    color: #666666;
    float: left;
    margin-right: 50px;
  }

  .ksb-modal #ksb-modal-submit-btn{
    width: 120px;
    height: 45px;
    background-color: #89cff0;
    color: #fff;
    font-size: 25px;
    font-family: "런드리고딕OTF Regular";
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    margin-left: 235px;
  }

#ksb-myP-myWalk-Area{
    width: 1150px;
    height: 700px;
    background-color: #ffffff;
    margin-left: 25px;
    margin-top: 15px;
    padding-top: 2px;
    padding-bottom: 30px;
    border-radius: 20px;
}

#ksb-Minicalender-Area{
  display: inline-block;
  width: 580px;
  height: 650px;
  margin-top: 20px;
  margin-left: 20px;
}
#calender {
  font-size: 15px;
  font-family: "런드리고딕OTF Regular";
}
#calender a {
  color: #068cd2;
  text-decoration: none;
  cursor: pointer;
}

#calender .fc-col-header-cell-cushion {
  color: #16517b;
}

#ksb-Minicalender-Area span{
  font-size: 25px;
  color: #fff;
  font-family: "런드리고딕OTF Regular";
  margin-left: 50px;
}

#ksb-myP-mywalk-listArea{
  width: 510px;
  height: 420px;
  float: right;
}

#ksb-myP-mywalk-minititle{
  width: 500px;
  height: 30px;
  display: inline-block;
  margin-top: 20px;
}

#ksb-myP-mywalk-minititle span{
  font-size: 30px;
  font-family: "런드리고딕OTF Regular";
  color: #666666;
}

.ksb-myP-myWalk-list{
    width: 500px;
    height: 75px;
    border-radius: 10px;
    border: 3px solid #16517b;
    margin-right: 25px;
    margin-top: 20px;
    float: right;
}

#ksb-myP-achievement{
    position: absolute;
    width: 230px;
    height: 200px;
    background-color: #068cd2;
    border-radius: 30px;
    border: none;
    margin-left: 35px;
    margin-top: 30px;
    left: 1120px;
    top: 265px;
}

.ksb-myP-myWalk-list span{
    font-size: 20px;
    font-family: "런드리고딕OTF Regular";
    color: #666666;
    margin-left: 20px;
}

.ksb-myP-myWalk-list ul li{
    float: left;
    font-size: 15px;
    color: #666666;
    font-family: "런드리고딕OTF Regular";
    margin-top: -10px;
    margin-right: 20px;
}
.ksb-myP-infoArea{
  width: 1180px;
  height: 60px;
}

.ksb-myP-infoArea_achievement{
  width: 220px;
  height: 30px;
}

.ksb-myP-infoSub{
  display: inline-block;
  margin-top: 8px;
}

.ksb-myP-infoSub_achievement{
  width: 180px;
  display: inline-block;
  margin-top: 5px;
}

.ksb-myP-infoSub_achievement span{
  font-size: 20px;
} 

.ksb-myP-nextBtnArea{
  float: right;
  margin-top: 10px;
  margin-right: 5px;
}

.ksb-myP-nextBtn{
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
}
.ksb-myP-nextBtn img{
  width: 25px;
  height: 25px;
  float: right;
}

#ksb-myP-achievement-Area{
    width: 200px;
    height: 140px;
    background-color: #ffffff;
    margin-left: 15px;
    margin-top: 15px;
    padding-top: 5px;
    border-radius: 20px;
}

#achievement-subtitle{
  font-size: 25px;
  font-family: "런드리고딕OTF Bold";
  color: #fff;
  margin-left: 20px;
  margin-top: 10px;
}

.ksb-achievement-img{
  width: 15px;
  height: 15px;
}

#ksb-myP-achievement-Area ul li{
    font-size: 15px;
    font-family: "런드리고딕OTF Regular";
    color: #8d8d8d;
    margin-top: 10px;
    margin-left: -20px;
}

#myP-detail ul li:nth-child(6){
    font-size: 25px;
    font-family: "런드리고딕OTF Regular";
}

#ksb-member-expire{
    width: 150px;
    height: 65px;
    background-color: #ff2e39;
    color: #fff;
    font-size: 30px;
    font-family: "런드리고딕OTF Regular";
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    float: right;
    margin-right: 50px;
}