@font-face {
    font-family: "런드리고딕OTF Regular";
    src: url('../../font/런드리고딕OTF Regular.otf') format('opentype');
}

@font-face {
    font-family: "런드리고딕OTF Bold";
    src: url('../../font/런드리고딕OTF\ Bold.otf') format('opentype');
}

.ksb-content {
    display: flex;
    justify-content: center;
}

#ksb-img-area {
    width: 1920px;
    height: 650px;
    margin-bottom: 50px;
}

#ksb-mainUl{
    display: flex;
    width: 1920px;
    height: 200px;
}

#ksb-mainUl ul li{
    float: left;
}

#ksb-mainUl ul li:nth-child(3){
    font-size: 120px;
    color: #068cd2;
    font-family: "런드리고딕OTF Bold";
    margin: 0px 0px 0px 50px;
}

#ksb-mainUl ul li:nth-child(4){
    font-size: 50px;
    color: #068cd2;
    font-family: "런드리고딕OTF Regular";
    margin: 20px 0px 0px 90px;
    font-weight: bold;
}
#ksb-google-img{
    margin: 20px 0px 0px 20px;
}
#ksb-apple-img{
    margin : 20px 0px 0px 30px;
    width: 130px;
    height: 130px;
}

.clearfix{
    width: 1920px;
    height: 1000px;
}